.input {
    width: 100%;
    padding: 11px 20px;
    outline: none;
    background: transparent;
    border: 1px solid var(--active-color);
    border-radius: 2px;
    color: grey;
    max-width: 280px;
    font-size: 14px;

    &--small {
        font-size: 12px;
        padding: 10px 16px;
    }
    &--medium {
        font-size: 14px;
        padding: 11px 20px;
    }
    &--large {
        font-size: 16px;
        padding: 12px 24px;
    }

    // &::-webkit-search-cancel-button {
    //     -webkit-appearance: none;
    //     height: 1em;
    //     width: 1em;
    //     cursor: pointer;
    //     background: url('/assets/icons/xmark-solid.svg') no-repeat 50% 50%;
    //     background-size: contain;
    //     transition: all .2s ease;
    // }
}