.input {
    padding: 11px 20px;
    outline: none;
    background: transparent;
    border: 1px solid var(--active-color);
    border-radius: 2px;
    color: var(--active-color);
    max-width: 280px;
    font-size: 14px;

    &--small {
        font-size: 12px;
        padding: 10px 16px;
    }
    &--medium {
        font-size: 14px;
        padding: 11px 20px;
    }
    &--large {
        font-size: 16px;
        padding: 12px 24px;
    }
}