.logo {
    cursor: pointer;
    transition: opacity .3s ease;

    &:hover {
        opacity: .7;
    }

    &--inner {
        &__img {
            transition: width .2s ease;

            &-small {
                width: 50px;
            }
            &-medium {
                width: 64px;
            }
            &-large {
                width: 72px;
            }
        }
    }
}
