.header {
    background: azure;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.12);
    position: sticky;
    top: 0;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}